@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.eot');
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.container {
    width: 743px;
    margin: 0 auto;
}

.section__description {
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    box-sizing: border-box;
    max-width: 210px;
    left: 15px;
    bottom: 15px;
}

/* -------------HEADER----------------- */

.header {
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 35px;
}

/* //////////////HEADER----------------- */

/* -------------GRAY------------ */

.gray {
    display: flex;
    justify-content: space-between;
    font-size: 18.1121px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.gray__big {
    position: relative;
    background-color: #A2A9B7;
    text-align: center;
    width: 66.2%;
    overflow-y: auto;
}

.gray__big::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.gray__side-wrapper {
    width: 32.4%;
    box-sizing: border-box;
}

.gray__min {
    position: relative;
    box-sizing: border-box;
    background-color: #A2A9B7;
    margin-bottom: 10px;
    padding: 15px;
}

.gray__min::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.gray__min:last-child {
    margin-bottom: 0;
}

.gray__text {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 46px 53px 25px;
    margin: 0;
}

/* ////////////GRAY------------ */

/* ----------LIGHT-GRAY------ */

.light-gray {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.light-gray__content {
    width: 492px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.light-gray__min-wrapper {
    display: flex;
    align-items: center;
}

.light-gray__min {
    position: relative;
    box-sizing: border-box;
    background-color: #E8EBED;
    width: 241px;
    height: 155px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.light-gray__min:last-child {
    margin-right: 0;
}

.light-gray__big {
    position: relative;
    box-sizing: border-box;
    background-color: #E8EBED;
    width: 100%;
    height: 155px;
    margin-bottom: 10px;
    padding: 15px;
}

.light-gray__sidebar-item {
    position: relative;
    box-sizing: border-box;
    width: 242px;
    height: 155px;
    margin-bottom: 10px;
}

.light-gray__sidebar-item--bright {
    background-color: #90BCE8;
    padding: 15px;
}

.light-gray__sidebar-item--dim {
    background-color: #FEBF26;
    padding: 15px;
}

/* //////////LIGHT-GRAY------ */

/* ----------PERSON---------- */

.person {
    display: flex;
    justify-content: space-between;
}

.person__sidebar-item {
    position: relative;
    box-sizing: border-box;
    background-color: #E3EBD3;
    overflow: hidden;
    width: 241px;
    margin-bottom: 10px;
    padding: 15px;
}

.person__sidebar-item:last-child {
    margin-bottom: 0;
}

.person__sidebar-item::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.person__sidebar-item--link {
    display: block;
    text-decoration: none;
    transition: .3s;
}

.person__sidebar-item--link:hover .person__sidebar-img, .person__sidebar-item--link:hover .section__description {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.person__sidebar-item--link:hover .interesting-element {
    display: flex;
    transition: .3s;
}

.interesting-element {
    display: none;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    background-color: #fff;
    color: #f55e62;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    z-index: 100;
}

.person__sidebar-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    transition: .3s;
}

.section__description--contrast-text {
    color: #fff;
}

.person__content {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #E3EBD3;
    width: 492px;
    /* height: 492px; */
    padding: 15px;
}

.person__content::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.person__content-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.person__content-item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
}

.person__content-text-left {
    max-width: 210px;
    order: 1;
}

.person__content-dots {
    border-bottom: 1px dashed #000;
    flex-grow: 1;
    order: 2;
    margin: 0 10px;
}

.person__content-text-right {
    max-width: 125px;
    text-align: right;
    order: 3;
}

/* /////////PERSON---------- */

/* ---------ORANGE---------- */

.orange {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.orange__item {
    position: relative;
    background-color: #FFAA87;
    width: 241px;
    height: 155px;
    margin-bottom: 10px;
}

.orange__item--big {
    width: 492px;
}

.orange__item--great {
    background-color: #f55e62;
}

.orange__item--interesting {
    background-color: #c7abd4;
}

/* /////////ORANGE---------- */

/* ---------FOOTER---------- */

.footer {
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 20px;
    padding: 35px;
}

/* /////////FOOTER--------- */

.dn {
    display: none;
}